.contactUs img{
    width: 13rem;
    height: 13rem;
}
.equipeFoto1{
    width: 8rem;
    height: 10rem;
}
.equipeFoto2{
    width: 8rem;
    height: 10rem;
}
.equipeFoto3{
    width: 8rem;
    height: 10rem;
}

.equipeFoto4{
    width: 8px;
    height: 10px;}

.equipeFoto5{
    width: 8px;
    height: 10px;
}



.cardEquipe{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-content: center;
    padding-bottom: 1rem;
    gap: 0;
}
.cardLogo{
    display: grid;
    grid-template-columns: repeat(5, 1fr); 
    grid-template-rows: auto auto; 
    gap: 1rem; 
    padding: 0rem;
    justify-content: center;
}
.tagName{
    display: flex;
    flex-direction: center;
    justify-content: space-around;
    gap: 8.5rem;
    font-weight: bolder;
    font-size: 23px;
}