/* Slider  */
#slider {
  display: grid;
  grid-template-columns: auto auto;
  background-image: url(./assets/images/fundotela.png);
  background-repeat: no-repeat;
  min-height: 100vh;
  background-size: cover;
  color: white;
}

#slidertext {
  position: top;
  float: left;
  width: 75%;
  margin: 24vh auto 0px 10px;
  padding-left: 10px;
}

#slidervideo {
  position: top;
  float: right;
  margin: 24vh 40px 0px auto;
  padding-right: 10px;
}

.btn {
  border: 1.5px solid #f94242;
  width: fit-content;
  background-color: white;
  font-weight: 600;
  font-size: 14px;
  color: rgb(0, 0, 0);
}

.btn a {
  color: rgb(0, 0, 0);
}

a:hover {
  text-decoration: none;
}
.btn a:hover {
  color: white;
}
.btn:hover {
  color: rgb(255, 255, 255) !important;
  background-color: #f94242;
  text-decoration: none;
  border: 1.5px solid white;
}

/* About */
#about {
  display: flex;
  padding: 20px;
  width: 100%;
  position: relative;
  text-align: center;
  justify-content: space-between;
  background-image: url(./assets/images/fundosobre.png);
  background-repeat: no-repeat;
  min-height: 100vh;
  background-size: cover;
  color: white;
  min-height: 100vh;
}

#aboutHeading {
  font-size: 40px;
  font-weight: 800;
}

#aboutImg {
  width: 450px;
  height: 300px;
  background-image: url(./assets/images/about.jpg);
  background-repeat: no-repeat;
  background-size: cover;
margin-bottom: 1rem;
}
.aboutImg {
  width: 450px;
  height: 300px;
  background-image: url(./assets/images/animes.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

#aboutText {
  width: 55%;
}
#aboutText p {
  font-weight: 500;
}
#aboutText h4 {
  font-weight: 700;
}

/* Guest */

#guest {
  background-image: url(./assets/images/convidado.png);
  background-repeat: no-repeat;
  min-height: 100vh;
  background-size: cover;
  color: white;
}

#guesttitle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-size: 3rem;
  margin-bottom: 3rem;
  gap: 3rem;
  
}

#guestgrid{
  display: grid;
  grid-template-columns: 30% 65%;
}

#guestimgcontainer {
  display: flex;
  flex-direction: column;
  padding-top: 0;
  gap: 0rem;
  text-align: center;
  text-justify: center;
}

#guestimgcontainer h1{
  display: flex;
  text-align: center;
  margin-left: 40px;
}

#guestimg {
  width: 400px;
  height: 400px;
  border-radius: 50%;
  margin: 0px auto 0px 40px;
}

#guesttext {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: start;
  font-size: 18px;
  margin-left: 80px;
}

#cardsguest {
  display: flex;
  flex-direction: space-between;
  width: 100%;
  gap: 3rem;
  padding: 10px;
  margin: 10px;
}

.cardGuest {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: transparent;
  color: white;
  width: auto;
}

.card-imgGuest {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 1rem;
}

.card-titleGuest {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1rem;
}

/* Salas */
.modal-content {
  padding: 0px 4px !important;
  display: flex;
  height: 480px;
}

.modal-text{
  overflow-y: visible;
  justify-content: center;
  
}

.modal-text label{
  font-weight: 600;
  display: inline-flex;
  padding: 0px 10px !important;
  justify-content: center;
  margin-left: 5px;
}

.inp {
  display: flex;
  justify-content: center;
  align-items: center;
}

#same.in {
  display: flex;
  left: 0;
  padding: 4px;
}

#price {
background-image: url(./assets/images/fundosala.png);
background-repeat: no-repeat;
min-height: 100vh;
background-size: cover;
color: white;
text-align: center;
padding-bottom: 30px;
}
#price h1 {
  line-height: inherit !important;
  font-weight: 800;
}
#price .card {
  width: 25%;
  display: inline-block;
  text-align: center;
  margin-left: 2%;
  margin-top: 30px;
  border: 1px solid transparent !important;
  background-color: transparent;
  color: white;
}
#price .card h1 {
  font-weight: 700;
}
.card-body {
  padding: 0 !important;
  width: 100%;
  background-color: transparent;
}
.card-text {
  font-weight: 600;
}

.card-img {
  width: 100%;
  height: 200px;
}
#videoE {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    margin-top: 40px;
}

#videoE video {
    max-width: 100%;
    height: auto;
}

/* Rules */

#rules {
  background: url(./assets/images/fundotela.png);
  background-size: fill;
  color: white;
}

#rules .title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
  margin: 30px auto 20px auto;
  padding: 10px;
}

#rules .title2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 3.5rem;
  margin: 30px 100px 20px 100px;
  padding: 10px;
}

#rules p {
  display: flex;
  justify-content: center;
  font-size: 1rem;
  margin-bottom: 30px;
  padding: 10px;
}

#rules ol {
  margin: 30px 100px 30px 100px;
}

#rules li {
  margin: 10px;
}

/* Contact */
#contact {
text-align: center;
background-image: url(./assets/images/equipe.png);
background-repeat: no-repeat;
background-size: cover;
color: white;
padding-top: 40px;
justify-content: space-around;
}

.contactUs {
  width: 50%;
  margin: auto;
  padding: 0px;
}
#contact h1 {
  font-weight: 800;
  
}
/* Footer */
.myfooter {
  text-align: center; 
  width: 100%; 
  background-color: black;
  display: flex; 
  justify-content: space-around; 
  align-items: flex-start; 
  flex-wrap: wrap; 
  color: white; 
}

.myfooter .cardfooter {
  display: inline-block;
  text-align: center;
  border: 0px none white !important;
  background-color: black;
  color: white;
  width: 30%;
  margin-top: 2rem;
  align-content: center;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}

#rights {
  text-align: center;
  color: white;
  margin-bottom: 10px;
}
#disclaimer { 
  text-align: center;
  color: white;
}

.myfooter img {
  border-radius: 50%;
  margin-left: 10px;
  height: 50px;
  width: 50px;
}

/* Barra de Rolagem */

::-webkit-scrollbar {
  width: 0.5vw;
}
::-webkit-scrollbar-track {
 background: transparent !important;
}

::-webkit-scrollbar-thumb {
  background: #6d07e2;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background: #ff0000;
}

::-webkit-scrollbar:active {
  background: #868383;
}


/* Dispositivos extragrandes (laptops e desktops grandes, 1201px e superiores) */
@media only screen and (min-width: 1201px) {
  #logo {
    float: left;
    width: 15%;
    text-align: center;
  }

  #list ul {
    float: right;
    margin-left: 5%;
  }

  #list ul li {
    display: inline-block;
    margin: 5px 80px 0 0;
    font-size: 20px;
    text-align: center;
  }

  header a {
    text-decoration: none;
    color: white;
  }
}

/* Dispositivos grandes (laptops/desktops, de 993px a 1200px) */
@media only screen and (max-width: 1200px) {
  #logo {
    float: left;
    width: 50%;
    text-align: center;
  }

  #list ul {
    float: right;
  }

  #list ul li {
    display: inline-block;
    margin: 10px 60px 0 0;
    font-size: 20px;
    text-align: center;
  }

  header a {
    text-decoration: none;
    color: white;
  }
}
/* Dispositivos médios (tablets em paisagem, de 768px a 992px) */
@media only screen and (max-width: 992px) {
  #logo {
    float: left;
    width: 20%;
    text-align: center;
  }

  #list ul {
    float: right;
    margin-left: 50px;
  }

  #list ul li {
    display: inline-block;
    margin: 10px 20px 0 0;
    font-size: 20px;
    text-align: center;
  }

  header a {
    text-decoration: none;
    color: white;
  }

  #aboutImg {
    display: none;
  }

  #aboutText {
    float: none;
    width: 100%;
  }

  #services .card {
    width: 30%;
  }

  .contactUs {
    width: 75%;
  }

  #price .card {
    width: 30%;
  }

  .myfooter .card {
    width: 33%;
    margin-left: 0%;
  }

  .myfooter img {
    height: 30px;
    width: 30px;
  }
}
/* Dispositivos pequenos (tablets retratos e telefones grandes, de 768px a 576px) */
@media only screen and (max-width: 767px) {
  header {
    height: auto;
  }

  #logo {
    margin-right: 100px;
  }

  #list ul {
    float: left;
    margin: 0px;
    padding: 0px;
  }

  #list ul li {
    display: block;
    margin: 0px;
    text-align: left;
  }

  header a {
    text-decoration: none;
    color: white;
  }

  #myicon1 {
    height: 5px;
    background-color: white;
    margin-top: 20px;
  }

  #myicon2 {
    height: 5px;
    background-color: white;
  }

  #myicon3 {
    height: 5px;
    background-color: white;
    margin-top: -10px;
  }

  .navbar-toggler:hover {
    background-color: red;
  }

  #services .card {
    width: 70%;
  }

  .contactUs {
    width: 100%;
  }

  #price .card {
    width: 70%;
  }

  .myfooter .card {
    width: 70%;
    margin-left: 0%;
  }

  .teamtext {
    width: 70%;
  }
  .flint {
    font-weight: 700;
    color: #f94242;
    letter-spacing: 0.3px;
  }
  .teamtext h4 {
    font-weight: 700;
    letter-spacing: 0.3px;
  }
}
/* Dispositivos extra smalls (telefones, de 575px pra baixo...) */
@media only screen and (max-width: 575px) {
  #slider {
    min-height: 100vh;
    text-align: center;
  }
  .navbar-brand {
    padding-top: 0 !important;
    font-size: 23px !important;
  }
  .navbar-brand h1 {
    font-size: 35px !important;
  }
  /* #sliderimg {
    display: none;
  } */

  #slidertext p {
    padding: 5px;
    font-size: 20px;
  }
  #slidertext {
    width: 100%;
    text-align: center;
    margin: 90px auto 0px auto;
  }

}